# ─── MongoDB Atlas ────────────────────────────────────────────────────────────
MONGO_URI=mongodb+srv://usuario:password@cluster0.xxxxx.mongodb.net/
MONGO_DB_NAME=rappifavor

# ─── Firebase Admin SDK ───────────────────────────────────────────────────────
FIREBASE_CREDENTIALS_PATH=src/main/resources/firebase-credentials.json

# ─── Entorno ──────────────────────────────────────────────────────────────────
APP_ENV=development

# ─── Puerto local ─────────────────────────────────────────────────────────────
PORT=8080